.header {
  height: 36px;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: rgb(245, 245, 245);
  justify-content: space-between;
}

.header__container-logo {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 22px;
  object-fit: contain;
  margin-left: 50px;
}

.header__logo-second {
  width: 46px;
  margin-left: 18px;
}

.header__option {
  font-weight: 550;
  font-size: 12px;
  border-right: 1px solid;
  margin-right: 12px;
  padding-right: 12px;
}

.header__option--last {
  border-right: 0px;
  margin-right: 40px;
}
